<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ZuluConfig" type="Zulu.BusinessService.Configuration.ZuluConfig, Zulu.BusinessService" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="dependencyResolverTypeName" value="Zulu.BusinessService.Infrastructure.UnityDependencyResolver, Zulu.BusinessService"/>
    <add key="IsTestApplication" value="TRUE"/>
		<add key="SyncKey" value="kjWkslr4qw4UT28LAfKJsYIdy9m+/vHry3fY452DuydGk2="/>
		<add key="SyncSalt" value="lRG7r+BNLTqVcKq6pTsMfi=="/>
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <ZuluConfig>
    <SqlServer ConnectionStringName="ZuluSqlConnection"/>
    <ScheduleTasks></ScheduleTasks>
  </ZuluConfig>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
