<connectionStrings>
 <add name="ZuluSqlConnection" connectionString="Data Source=192.168.1.151;Initial Catalog=PointOfSaleManagement;Persist Security Info=True;User ID=sa;Password=dangerous99;MultipleActiveResultSets=True;Connect Timeout=120" />
 <add name="ZuluPOSManagement.Properties.Settings.ZuluPointOfSaleConnectionString"
  connectionString="Data Source=G-13;Initial Catalog=ZuluPointOfSale;Persist Security Info=True;User ID=sa;Password=dangerous99"
  providerName="System.Data.SqlClient" />
 <add name="ZuluPOSManagement.Properties.Settings.PointOfSaleManagementConnectionString"
  connectionString="Data Source=G-13;Initial Catalog=PointOfSaleManagement;Persist Security Info=True;User ID=sa;Password=dangerous99"
  providerName="System.Data.SqlClient" />
</connectionStrings>